@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* sheard style */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font: size 1.2rem;;
    padding: 1.6rem;
    border: none;
    border-radius: 0.6rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main >section{
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 2.8rem;
}
.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark o3 */
.text-light-gray{
    color:#727272 ;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
}
/* header style */

/* navber related style  */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width:1940px;
    margin: 0 auto;

}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* team and feature style */
.teams{
    align-items: center;

}
.team-img-containar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
    color: #727272
}
/* faccts related style  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact-card{
    border:1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2rem;
    font-weight: 600;
    margin:5px;
    margin-bottom:10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width:540px;
}
/* sponsors related style */
.sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive media quary */
@media screen and  (max-width:576px){
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-containar,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
 
    }
    .our-feature{
        margin: 20px;
    }
/* mediam size device */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column;

    }
    .our-feature{
        margin-left: 50px auto;
    }
    .sponsor-companies,
    .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    
}