@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* sheard style */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font: size 1.2rem;;
    padding: 1.6rem;
    border: none;
    border-radius: 0.6rem;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark o3 */
.text-light-gray{
    color:#727272 ;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
}
/* header style */

/* navber related style  */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width:1940px;
    margin: 0 auto;

}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* responsive media quary */
@media screen and  (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
    
}